@import "~bulma/sass/utilities/initial-variables.sass";

$z-index-top: 1024;

@mixin electron-drag {
  -webkit-app-region: drag;
}

@mixin electron-no-drag {
  -webkit-app-region: no-drag;  /* electron 在无边框时，设置窗口拖拽区域，其中的按钮或可点击对象，必须使用这个特性才可以正常工作 */
}

.button, .input {
  @include electron-no-drag;
}

@mixin text-sle{
  min-width: 0;  // 适配flex-box布局：解决因为不能设置宽度而造成的无效
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
